body {
  margin: 0;
  background: #16171d;
  color: white;
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;
}

.font-mono {
  font-family: "JetBrains Mono", monospace;
}

.font-bold {
  font-weight: 700;
}

.text-lg {
  font-size: 1.325rem;
  line-height: 1.75rem;
}

.text-color {
  background: #19e6d5;
  background-clip: text;
  color: transparent;
}

.navbar {
  position: fixed;
  top: 0;
  width: 988px;
  padding: 20px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(10px);
  z-index: 1000;
  /*border-bottom: 1px solid var(--border);*/
}

.navbar ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

.navbar li {
  cursor: pointer;
  transition: 0.3s;
}

.navbar li:hover {
  color: #6ef7ec;
}

.section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 80px;
}

.hero-section {
  width: 100%;
  max-width: 950px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 80px;
}

.hero-text {
  max-width: 600px;
  text-align: left;
}

.intro {
  color: #19e6d5;
  font-family: "JetBrains Mono", monospace;
  font-size: 14px;
  margin-bottom: 10px;
}

.hero-text h1 {
  font-size: 64px;
  font-weight: 600;
  margin-top: 25px;
  margin-bottom: 40px;
  font-family: "Space Grotesk", sans-serif;
}

.name {
  color: #ccc;
}

.description {
  color: #9c9c9c;
  margin-top: 20px;
  line-height: 1.6;
}

/* BOTÕES */
.buttons {
  margin-top: 30px;
  display: flex;
  gap: 15px;
}

.btn-primary {
  background: #19e6d5;
  color: #000;
  border: none;
  padding: 12px 24px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.btn-primary:hover {
  opacity: 0.8;
}

.btn-secondary {
  background: transparent;
  border: 1px solid #444;
  color: white;
  padding: 12px 24px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-secondary:hover {
  border-color: #19e6d5;
  color: #19e6d5;
}

/* IMAGEM */
.hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  border: 2px solid rgba(25, 230, 213, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 
    0 0 30px rgba(25, 230, 213, 0.3),
    0 0 80px rgba(25, 230, 213, 0.15);
}

.circle img {
  width: 90%;
  border-radius: 50%;
}

@media (max-width: 900px) {
  .hero-section {
    flex-direction: column;
    text-align: center;
  }

  .hero-text h1 {
    font-size: 40px;
  }
}

.about-section {
  display: flex;
  justify-content: center;
}

.about-container {
  max-width: 1100px;
  width: 100%;
  display: flex;
  gap: 60px;
}

.about-text {
  flex: 1;
  text-align: left;
}

.section-title {
  font-size: 2rem;
  color: #19e6d5;
  margin-bottom: 20px;
  position: relative;
}

.section-title::after {
  content: "";
  width: 60px;
  height: 3px;
  background: #19e6d5;
  position: absolute;
  bottom: -10px;
  left: 0;
}

.about-text p {
  color: #9c9c9c;
  line-height: 1.7;
  margin-bottom: 20px;
}

.about-card {
  flex: 1;
  text-align: left;
  background: #1c1f26;
  border: 1px solid #2a2d35;
  border-radius: 15px;
  padding: 25px;
}

.about-card h3 {
  font-family: "JetBrains Mono", monospace;
  color: #19e6d5;
  margin-bottom: 20px;
  font-size: 20px;
}

.about-card ul {
  list-style: none;
  padding: 0;
}

.about-card li {
  margin-bottom: 12px;
  color: #ccc;
  font-size: 14px;
}

@media (max-width: 900px) {
  .about-container {
    flex-direction: column;
  }
}